DB_USER=postgres
DB_PASSWORD=123456
DB_HOST=localhost
DB_PORT=5432
DB_NAME=Dealzy
JWT_SECRET=secretkey_tmdt
EMAIL_USER=le2487009@gmail.com
EMAIL_PASS=gwqnrrpfnmhrzapb
SPEEDSMS_API_KEY=KEYyVYiMtDLclO5Tw0CsoyxF10cFjOYi
FRONTEND_URL=http://localhost:5173
